.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    align-items: center;
    background-color: #365396;
}
.header img{
    width: 10%;
   
    
}
@media only screen and (max-width: 800px) {
    .header{
        padding-right: 2%;
        justify-items:center;
    }
    .header img{
        width: 20%;
    }
}
.tablink-style{
    
    display: grid;
    grid-template-columns: repeat(4,10%);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-gap: 2%;
    border: solid rgb(121, 113, 113);
    padding: 2%;
}
@media only screen and (max-width: 1100px) {
    .tablink-style{
        grid-template-columns: repeat(4, 1fr);
        }
}
.link-style{
    background-color: lightblue;
    
}
.link-style1{
    background-color: rgb(14, 128, 167);
    
}
.styling-links{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (max-width: 1200px) {
    .styling-links{
        font-weight: normal;
        font-size: 17px;
        }
}
.hotel-style{
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    color: white;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}
input[type=text]{
    width: 45%;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 8px 0;
}
select{
    width: 12%;
}
input[type=submit]{
    width: 25%;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0;
}
.hotel-check-in-style{
    display: grid;
    grid-template-columns: repeat(2, 15%);
    justify-content: center;
}
@media only screen and (max-width: 800px) {
    .hotel-check-in-style{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}
input[type=date]{
    border-radius: 5px;
    padding: 4px 8px;
    width: 80%;
    margin: 3px 0;
    font-weight: bold;
}